//
// Variables
// --------------------------------------------------

$font-size-base:                16px;

$font-size-h1:                  2em;
$font-size-h2:                  1.43em;
$font-size-h3:                  1.14em;
$font-size-h4:                  1em;
